body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url(../images/white-wood.jpg) no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid hsl(135, 67%, 40%);
  box-shadow:  -1px 1px hsl(135, 67%, 40%), -2px 2px hsl(135, 67%, 40%), -3px 3px hsl(135, 67%, 40%), -4px 4px hsl(135, 67%, 40%), -5px 5px hsl(135, 67%, 40%);
  background-color: hsl(135, 57%, 53%);
  

}

.indifferent {
  border: 1px solid hsl(60, 67%, 40%);
  box-shadow:  -1px 1px hsl(60, 67%, 40%), -2px 2px hsl(60, 67%, 40%), -3px 3px hsl(60, 67%, 40%), -4px 4px hsl(60, 67%, 40%), -5px 5px hsl(60, 67%, 40%);
  background-color: hsl(60, 73%, 50%);
}

.dubious {
  border: 1px solid hsl(0, 67%, 40%);
  box-shadow:  -1px 1px hsl(0, 67%, 40%), -2px 2px hsl(0, 67%, 40%), -3px 3px hsl(0, 67%, 40%), -4px 4px hsl(0, 67%, 40%), -5px 5px hsl(0, 67%, 40%);
  background-color: hsl(0, 69%, 57%);
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
.small, .med, .large {
  border: 4px solid hsl(0, 0%, 40%);
  box-sizing: border-box;
}

h4 {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.452))
}
